.new-game-promotion-checkbox {
    width: 36px; 
    height: 36px; 
    margin-top: 10px; 
    background-color: #515151;
    border: 4px solid #707070;
    border-radius: 10px;
    cursor: pointer;
} .new-game-promotion-checkbox-selected {
    width: 36px; 
    height: 36px; 
    margin-top: 10px; 
    background-color: #515151;
    border: 4px solid #969696;
    border-radius: 10px;
    cursor: pointer;
}
.new-game-promotion-checkbox-checkmark {
    position: absolute;
    max-height: 36px; 
    max-width: 36px; 
    padding: 2px;
    object-fit: contain;
}
