.new-game-subs-header {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
    color: #a9a9a9;
    font-size: 50px;
    padding-left: 170px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #707070;
}

 .new-game-bishop-label {
    grid-column: 1;
    grid-row: 3;
    text-align: left;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #4e4e4e;
    border-right: 2px solid #707070;
    /* border: 2px solid #707070; */
}
.new-game-bishop-value {
    grid-column: 2;
    color: #a9a9a9;
    background-color: #515151;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-row: 3;
    padding-left: 20px;
    /* border: 2px solid #707070; */
}

.new-game-knight-label {
    grid-column: 1;
    grid-row: 4;
    text-align: left;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
    background-color: #4e4e4e;
    border-right: 2px solid #707070;
    padding-left: 20px;
    padding-top: 10px;
    /* border: 2px solid #707070; */
}
.new-game-knight-value {
    grid-column: 2;
    color: #a9a9a9;
    background-color: #5D5D5D;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-row: 4;
    padding-left: 20px;
    /* border: 2px solid #707070; */
}

.new-game-rook-label {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
    background-color: #4e4e4e;
    border-right: 2px solid #707070;
    padding-left: 20px;
    padding-top: 10px;
    /* border: 2px solid #707070; */
}
.new-game-rook-value {
    grid-column: 2;
    color: #a9a9a9;
    background-color: #5D5D5D;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-row: 2;
    padding-left: 20px;
    /* border: 2px solid #707070; */

}

.new-game-queen-label {
    grid-column: 1;
    grid-row: 5;
    text-align: left;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
    background-color: #4e4e4e;
    border-right: 2px solid #707070;
    padding-left: 20px;
    padding-top: 10px;
    border-bottom: 2px solid #707070;
}
.new-game-queen-value {
    grid-column: 2;
    color: #a9a9a9;
    background-color: #515151;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    grid-row: 5;
    border-bottom: 2px solid #707070;
}

