.new-game-customize-top-bar-search {
    position: absolute;
    z-index: inherit;
    width: 560px;
    height: 52px;
    left: 1440px;
    top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #515151;
    border: 4px solid #707070;
    border-radius: 18px;
}
.new-game-customize-top-bar-search-magnifying-glass {
    position: absolute;
    left: 8px; 
    width:32px; 
    height:32px;
    margin-top: 12px;
}
.new-game-customize-top-bar-search-box {
    position: absolute;
    left: 42px;
    top: 0px;
    height: 48px;
    width: 506px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c4c4c4;
    /* color: #5c9fd2; */
    background-color: #515151;
    border: none;
    border-radius: 18px;
    outline: none;
}

